In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
copurch = pd.read_csv('copurchase_count.csv')
copurch.head()

,Unnamed: 0,prod_a,prod_a_name,prod_b,prod_b_name,copurchase_ct,prod_a_orders,prod_b_orders,jaccard
0,0,196,Soda,14084,Organic Unsweetened Vanilla Almond Milk,101,32204,14308,0.002176
1,1,12427,Original Beef Jerky,14084,Organic Unsweetened Vanilla Almond Milk,26,5841,14308,0.001292
2,2,26088,Aged White Cheddar Popcorn,14084,Organic Unsweetened Vanilla Almond Milk,21,2267,14308,0.001269
3,5,13176,Bag of Organic Bananas,14084,Organic Unsweetened Vanilla Almond Milk,3412,341315,14308,0.009687
4,6,13032,Cinnamon Toast Crunch,14084,Organic Unsweetened Vanilla Almond Milk,18,3373,14308,0.001019

In [9]:
copurch=copurch[['prod_a','prod_a_name','prod_b','prod_b_name','copurchase_ct'
                ,'prod_a_orders','prod_b_orders','jaccard']]

In [10]:
copurch.shape

(5679124, 8)

In [11]:
len(copurch['prod_a'].unique())

26409

In [12]:
copurch[copurch['jaccard']>0.025].sample(10)

,prod_a,prod_a_name,prod_b,prod_b_name,copurchase_ct,prod_a_orders,prod_b_orders,jaccard
2247720,45862,Broccoli Floret,34487,Hass Avocado Bag,158,1601,4314,0.027445
3954744,43654,Whole Milk Greek Blended Vanilla Bean Yogurt,4809,Greek Whole Milk Blended Blueberry Yogurt,527,4077,2369,0.089035
5665698,29302,Graduates Lil' Crunchies Mild Cheddar Corn Snacks,29767,Graduates Mixed Berries Yogurt Melts,28,421,339,0.038251
5669125,34921,Vanilla or Chocolate Chip Variety Pack Ice Cre...,14194,"Everyday Napkins Design Collection, Printed, 2...",16,141,166,0.054983
5350275,12754,Organic Stage 2 Pear Apricot Barley Baby Food,29156,Organic Stage 2 Sweet Potato Garbanzo Barley,36,456,665,0.033180
3558745,16993,2nd Foods Mixed Vegetable,3652,2nd Foods Sweet Potatoes & Corn,25,83,93,0.165563
5509639,5757,"Nuts & Spices, Dark Chocolate Mocha Almond",46229,Fruit & Nut Bar Blueberry Vanilla & Cashew,141,1055,1410,0.060671
3822748,47072,Petite Cut Diced Tomatoes with Zesty Jalapenos,20259,"Special K Sausage, Egg & Cheese Flatbread Brea...",25,57,713,0.033557
5586326,7660,"Pull 'n' Peel Candy, Cherry",48741,Orange Passionfruit & Jasmine Green Tea Bags,13,273,47,0.042345
1743888,6245,Baby Vegetable Medley Steamers,14951,Steamers Antioxidant Vegetable Blend,80,478,777,0.068085

In [18]:
copurch[copurch['prod_a']==3652].sort_values(by='jaccard',ascending=False).head(10)

,prod_a,prod_a_name,prod_b,prod_b_name,copurchase_ct,prod_a_orders,prod_b_orders,jaccard
5669390,3652,2nd Foods Sweet Potatoes & Corn,16993,2nd Foods Mixed Vegetable,25,93,83,0.165563
5669415,3652,2nd Foods Sweet Potatoes & Corn,16224,Apple Blueberry Baby Food,27,93,99,0.163636
5658621,3652,2nd Foods Sweet Potatoes & Corn,37318,2nd Foods Pears,33,93,162,0.148649
3558759,3652,2nd Foods Sweet Potatoes & Corn,20861,2nd Foods Pear Pineapple Baby Food,21,93,76,0.141892
5669438,3652,2nd Foods Sweet Potatoes & Corn,426,2nd Foods Bananas,16,93,51,0.125000
861646,3652,2nd Foods Sweet Potatoes & Corn,33519,2nd Foods Sweet Potatoes,26,93,156,0.116592
5676685,3652,2nd Foods Sweet Potatoes & Corn,20465,Banana Orange Medley Baby Food,15,93,53,0.114504
5586988,3652,2nd Foods Sweet Potatoes & Corn,39310,2nd Foods Apple Strawberry Banana,15,93,67,0.103448
5671993,3652,2nd Foods Sweet Potatoes & Corn,19787,2nd Foods Bananas with Apples & Pears,19,93,132,0.092233
3879440,3652,2nd Foods Sweet Potatoes & Corn,2498,2nd Foods Sweet Potato & Turkey With Whole Gra...,16,93,135,0.075472